* { box-sizing: border-box; }
body {
  margin: 0;
  background: #d3e0dc;
}
header {
  background: #9fd8df;
  text-align: left;
}
header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}

.logo {
  
  float: left;
  padding: 80px 0;
 
}
nav {
  display: table;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  width: 25%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #404040;
  padding: 15px 30px;
}
.topmenu li a:hover { color: #00587a; }
.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
.post-wrap{
  padding-left: -800px;
}
.submenu {
  background: #d3e0dc;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
* {
   margin: 0;
   box-sizing: border-box;
}
.post-wrap {
   max-width: 1120px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.post-item {
   padding: 10px;
}
.post-item-wrap {
   background: #eff7e1;
   position: relative;
}
.post-item-wrap:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   background: #bee5d3;
   transform: rotate(1deg);
   transform-origin: left bottom;
   transition: .3s ease-in-out;
}
.post-item-wrap:hover:after {
   top: 5px;
   left: 5px;
   transform: rotate(2deg);
}
.post-link {
   text-decoration: none;
   display: block;
   padding: 30px;
}
.post-title {
   color: #55b3b1;
   margin-bottom: 15px;
   transition: .3s ease-in-out;
}
.post-item-wrap:hover .post-title {
   color: #C9F2C7;
}
.post-content {
   color: #A69888;
   font-size: 14px;
}

@media (min-width: 768px) {
   .post-item {
      flex-basis: 50%;
      flex-shrink: 0;
   }
}
@media (min-width: 960px) {
   .post-item {
      flex-basis: 33.333333333%;
   }
footer{
  margin-bottom: 10px;
  border-style: justify;
  border-style: 2px solid;
}
@import url(https://kit.fontawesome.com/78ee00de91.js);
.social a {
    display: inline-block;
    top: -200px;
    text-align: center;
    width: 47px;
    height: 47px;
    float: right;
    background: #f4f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 0 10px 10px 0;
    padding: 5px;
    color: #000;
    z-index: 50px;
    
}
.github a:hover {background: #191919; color: #fff; }
.youtube a:hover {background: #c4302b; color: #fff; }
.instagram a:hover {background: #3f729b;color: #fff;}
.telegram a:hover {background: #249bd7; color: #fff;}

aside{
  float: right;
  padding-top: 200px;
}
footer{
position: absolute;
border: 2px solid #6f9eaf;
margin-bottom: 20px;
float:left;
}

